body {
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    overflow: hidden;
}
a {
    color: #fafafa;
}

textarea {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    font-size: 1rem;
    outline: none;
    resize: none;
}

/**********************
 * Sticky Note
 **********************/
.stickynote {
    display: flex;
    position: absolute;
    width: 320px;
    min-height: 64px;
    box-sizing: border-box;
    height: fit-content;
    padding: 8px 16px;
    color: #fafafa;
    background-color: rgba(20, 20, 20, 0.7);
    border-radius: 4px;
}

.stickynote__text {
    user-select: none;
}

.stickynote:hover .stickynote__delete::before {
    position: absolute;
    content: '✖';
    top: 4px;
    right: 8px;
    cursor: pointer;
    font-style: normal;
    color: #fafafa;
}

.stickynote textarea {
    width: 100%;
}

/**********************
 * Input Form
 **********************/
.input-form {
    display: none;
    gap: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    width: 480px;
    height: 200px;
    margin: auto;
    inset: 60px 0;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    padding: 16px 24px 24px;
    box-sizing: border-box;
    opacity: 0.8;
    z-index: 999;
}

.input-form.is-show {
    display: flex;
}

.input-form__header {
    font-size: 1rem;
    color: #fafafa;
    font-weight: bold;
    text-align: center;
}
.input-form textarea {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 2px;
    color: #fafafa;
    padding: 8px;
    box-sizing: border-box;
}

.input-form__close:before {
    position: absolute;
    content: '✖';
    top: 4px;
    right: 8px;
    cursor: pointer;
    font-style: normal;
}
.input-form__close:before:hover {
    opacity: 0.5;
}
