body {
    -webkit-app-region: drag;
    -webkit-user-select: none;
}
.container {
    overflow: hidden;
}
.todo {
    position: relative;
    padding: 4px 8px;
    border-radius: 3px;
    background-color: rgba(24, 24, 24, .7);
    color: #fff;
    margin-top: 8px;
}
.text {
    word-break: break-word;
    padding-right: 22px;
}
.close {
    position: absolute;
    cursor: pointer;
    top: 12px;
    right: -12px;
    width: 36px;
    height: 36px;
}
.close:before {
    position: absolute;
    transform: rotate(-45deg);
    background-color: #FFF;
    content: "";
    top: 0px;
    left: 0px;
    width: 16px;
    height: 3px;
}
.close:after {
    position: absolute;
    transform: rotate(45deg);
    background-color: #FFF;
    content: "";
    top: 0px;
    left: 0px;
    width: 16px;
    height: 3px;
}

.plus {
    position: absolute;
    cursor: pointer;
    top: 12px;
    right: 0px;
    width: 36px;
    height: 36px;
}
