body {
    -webkit-app-region: drag;
    /* -webkit-user-select: none; */
}
#container {
    overflow: hidden;
}

main {
    display: flex;
    align-items: flex-start;
}

.list {
    margin-right: 8px;
}

.list__form__input {
    box-sizing: border-box;
    padding: 8px 4px;
    width: 224px;
}

.list__todo {
    position: relative;
    padding: 4px 8px;
    border-radius: 3px;
    background-color: #333333ca;
    color: #fff;
    margin-bottom: 8px;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: left;
    width: 224px;
}
.list__todo__text {
    word-break: break-word;
    padding-right: 22px;
}



/** UTIL CLASS **/
.util__close {
    position: absolute;
    cursor: pointer;
    top: 12px;
    right: -12px;
    width: 36px;
    height: 36px;
}
.util__close:before {
    position: absolute;
    transform: rotate(-45deg);
    background-color: #fff;
    content: '';
    top: 0px;
    left: 0px;
    width: 16px;
    height: 3px;
}
.util__close:after {
    position: absolute;
    transform: rotate(45deg);
    background-color: #fff;
    content: '';
    top: 0px;
    left: 0px;
    width: 16px;
    height: 3px;
}